<ion-view view-title="Welcome" cache-view="false">
  <ion-content class="padding">
    
   	<h4>HOW CAN WE HELP YOU?</h4>
    <div class="list card">

	  <a href="#/tab/inspectionlist" class="item item-icon-left">
	    <i class="icon ion-ios-book"></i>
	    INSPECTION LIST
	  </a>
	
	 <a href="#/tab/cleaningperformance" class="item item-icon-left">
	    <i class="icon ion-ios-box"></i>
	   	 CLEANING PERFORMANCE
	  </a>
	  
	  <a href="#/tab/seting" class="item item-icon-left">
	    <i class="icon ion-ios-gear"></i>
	    SETTING
	  </a>
	  
	  
	</div>
	
	    
  </ion-content>
</ion-view>
